/*---------------- Variables*/
:root{
    --green-color: #7ACC2D;
    --white-color: white;
    /*----------- Tipografia*/
    --normal: 16px;
    /* ---------- Espaciado*/
    --space: 10px;
    /* ----------Box shadow*/
    --box: 0px 0 2px 1px #e6e5e9;
}
/*---------------- variables*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700;800&display=swap');



html,body {
    margin: 0;
    padding: 0;
    font-size: var(--normal) ;
    font-family: 'Open Sans', sans-serif;;
}

nav{
    display: flex;
    background: var(--green-color);
    padding: var(--space);
    color: var(--white-color);
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
}

nav li{
    padding-left: 20px;
    list-style: none;
}

nav li a{
    text-decoration: none;
    color:black;
    list-style: none;
}

nav li a:hover{
    color: var(--white-color);
}

/* ----------------------------------------Main seccion */

.main_seccion{
    padding: 15%;
    text-align: center;
    /* border: red solid 1px; */
}

.products{
    background-image: url("../images/curve.png");
    height: 50px;
    background-size: cover;
    background-position: center top;
    padding: 15%;
    display: flex;
    /* border: red solid 1px; */

}

.product{
    margin-top: -230px;
    padding: var(--space);
    /* border: red solid 1px; */
}

.product .content{
    padding: 15px;
    /* border: red solid 1px; */
    background-color: var(--white-color);
    box-shadow: var(--box);
    border-radius: 10px;

}

.img_content{
    text-align: center;
}

.main_button{
    background-color:var(--green-color);
    color: var(--white-color);
    width: 100%;
    border: 0;
    padding: 10px;
    cursor: pointer;
    border-radius: 2px;
}
 .main_button:hover{
     background-color: #599a1c;
 }

 /* ------------benefits seccion*/

 .benefits_seccion{
     padding: 10%;
     display: flex;
 }
 .benefits_seccion img{
    height: 100px;
 }
  .itens_benefits{
    text-align: center;
    padding: 20px;
  }
  hr{
    border: 0 none #c5c5c5;
    border-top: 1px solid #c5c5c5;
    height: 1px;
    margin: 5px 0;
    display: block;
    clear: both;
  }
  /* ------------ mentions seccion*/
  .mentions_seccion h2{
    text-align: center;
  }

  .mention{
      display: flex;
      padding: 2%; 
  }

.mention_peaple{
    box-shadow: var(--box);
    border-radius: 3px;
    margin: 10px;
}
  .mention_peaple img{
    width: 100%;
  }

  .text{
      padding: 10px;
  }
/* -------------------footer seccion*/
footer{
    display: flex;
    justify-content: space-between;
    font-size: var(--normal);
    background-color:#313337;
    padding: var(--space);
    color: var(--white-color);
}