html,body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family:Helvetica;
}

nav{
    display: flex;
    background: #7ACC2D;
    padding: 10px;
    color: white;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
}

nav li{
    padding-left: 20px;
    list-style: none;
}

nav li a{
    text-decoration: none;
    color:black;
    list-style: none;
}

nav li a:hover{
    color: white;
}

/* ----------------------------------------Main seccion */

.main_seccion{
    padding: 15%;
    text-align: center;
    /* border: red solid 1px; */
}

.products{
    background-image: url("../images/curve.png");
    max-height: 50px;
    background-size: cover;
    background-position: center top;
    padding: 15%;
    display: flex;
    /* border: red solid 1px; */

}

.product{
    margin-top: -230px;
    padding: 10px;
    /* border: red solid 1px; */
}

.product .content{
    padding: 15px;
    /* border: red solid 1px; */
    background-color: white;
    box-shadow: 0 0 1px #8a8989;
    border-radius: 10px;

}

.img_content{
    text-align: center;
}

.main_button{
    background-color: #7ACC2D;
    color: white;
    width: 100%;
    border: 0;
    padding: 10px;
    cursor: pointer;
    border-radius: 2px;
}
 .main_button:hover{
     background-color: #599a1c;
 }